// $primary-color: #FFFFFF; // Example primary color, adjust as needed

.main-page {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  height: 750px; 


  button {
    margin: 10px 0; 
    width: 40%; 
    background-color: "primary"; 
    color: white; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer;
    padding: 10px;
  }
}