<h1 style="margin-left: 20px; margin-top: 20px; font-size: 40px;">UMeet</h1>
<div class="main-page">
    <button mat-raised-button (click)="openUserRegistrationDialog()">
        Sign Up
    </button>
    <button mat-raised-button (click)="openUserLoginDialog()">
        Login
    </button>
</div>


<!-- <h1>
  Welcome to UMeet!
</h1>

  <div class="main-page"
    style=
    "
    align-content: space-evenly;
    margin:50%;"
  >

    <button
      mat-raised-button
      (click)="openUserRegistrationDialog()"
      style="display: inline-block;"
      color="primary"
    >
      Sign Up
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="openUserLoginDialog()"
      style="margin: auto; display: block; height: 50px; width: 25%"
    >
      Login
    </button>
  </div> -->