<!-- src/app/user-update-form/user-update-form.component.html -->
<mat-card>
    <mat-card-header>
      <mat-card-title>Update User Details</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form>
        <mat-form-field>
            <input
            matInput
            [(ngModel)]="userData.Name"
            placeholder="Name"
            type="text"
            name="Name"
          >
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            [(ngModel)]="userData.Email"
            type = "email"
            placeholder="Email"
            name="Email"
          >
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
        <button
          mat-raised-button
          (click)="onSubmit()"
          color="primary"
        >
          Update
        </button>
        <button
          mat-raised-button
          (click)="onCancel()"
          color="warning"
        >
          Cancel
      </button>
    </mat-card-actions>
  </mat-card>