.movie-container {
    margin: 0;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;

    // Media query for tablet screens
    @media (max-width: 1024px) {
        grid-template-columns: repeat(2, 1fr); 
    }

    // Media query for mobile screens
    @media (max-width: 600px) {
        grid-template-columns: 1fr;
    }
}

.movie-card {
    box-sizing: border-box; 
    display: grid;
    justify-items: center;
    justify-content: center;
    margin: 20px;
}

mat-card-title {
    font-size: medium;
}

nav {
    margin-left: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 30px;
    margin-top: 15px;
}