.user-details-content {
    line-height: 30px;
}

.user-details-header {
    margin-top: 20px;
    margin-left: 20px;
    font-weight: bold;
    font-size: 30px;
}

.favorite-movies-header {
    margin-top: 50px;
    margin-left: 20px;
    font-weight: bold;
    font-size: 30px;
}

nav {
    margin-left: 20px;
    margin-top: 15px;
}
